body {
    margin: 0;
}

header, nav {
    width: 100%;
}

/*  Centre la navigation  */
nav ul{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;

}
/*  Elements de la navigation    */
li{
    width: 7rem;
    list-style-type: none;
}





    
/*  Burger -    début   */

* {
    box-sizing: border-box;
  }
  
  .burger {
    display: none;
  }
  .burger:checked ~ .burger-menu {
    display: block;
  }
  
  .hamburger {
    display:block;
    width: 3.4em;
    height: 2.4em;
    line-height: .1em;
    border: 0.1em solid black;
    padding: 0 .4em .4em;
  }
  
  .hamburger hr {
    color: #ddd;
    height: .1em;
    border: 0;
    background: black;
    border: none;
  }
  

/*  Burger -    fin   */


/*   La navigation  s'affiche en linge au dela de 767px de large   */


.burger:checked ~ ul {
    display: flex;
}

/*   Le burger s'affiche uniquement en dessous de 768px de large   */
@media (min-device-width:768px) {

    .hamburger{display:none}

    .burger {display:none;}

    /* nav ul {
        width: 70vw;

    } */

    ul {
        display: none;
      }
      


}




/*   Au dela de 768px de large la liste est en colonne  */
@media (max-device-width:767px) {

    nav ul{ 
        flex-direction:column; 
        display: none;
        margin:0;
        width:auto;  
     }
     
    }